/* -------------- */
/* GLOBAL STYLING */
/* -------------- */

* {
    font-family: 'Helvetica', Verdana, Tahoma, sans-serif;
    font-size: 1rem;
}

body {
    background-color: white;
    color: #262120;
}

/* --------------- */
/* SIDEBAR STYLING */
/* --------------- */

@font-face {
    font-family: 'Norse Bold';
    src: url(./assets/Norse-Bold.otf);
}

aside,
header {
    display: flex;
}

aside {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    justify-content: center;
    align-items: center;
    width: 100%; height: 170px;
    background-color: rgba(34, 28, 28, 0.8);
}

header img {
    height: inherit;
    padding: 10px;
}

h1 {
    margin: 25px 0px 0px 0px;
    font-family: 'Norse Bold', 'Times New Roman', Times, serif;
    font-size: 125px;
    color: white;
}

small, footer a {
    font-size: 10px;
    color: lightgrey;
}

/* --------------- */
/* CONTENT STYLING */
/* --------------- */

.container,
.about,
.account-action {
    background-color: #F9FAFB;
}

.about .content {
    padding: 40px 20px 40px; margin: 0px;
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.about p {
    padding: 0px; margin: 0px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .01rem;
    line-height: 1.2rem;
}

.form .content {
    padding: 30px 20px 30px;
    position: relative; z-index: 1;
}

.form {
    background-color: white;
}

.form-shadow {
    height: 5px; width: 100%;
    background-color: #F9FAFB;
    background-image: linear-gradient(to bottom, #E0E0E1, #F9FAFB); 
    background-image: -webkit-linear-gradient(to bottom, #E0E0E1, #F9FAFB); 
    background-image: -moz-linear-gradient(to bottom, #E0E0E1, #F9FAFB); 
    background-image: -o-linear-gradient(to bottom, #E0E0E1, #F9FAFB); 
}

em {
    font-style: italic;
}

/* ------------ */
/* FORM STYLING */
/* ------------ */

h2 {
    padding: 0px; margin: 0px;
    font-size: 1.1rem;
}

form {
    padding: 20px 0px 0px; margin: 0px;
}

fieldset {
    padding: 0px; margin: 0px;
    border: none;
}

legend {
    display: none;
}

fieldset div {
    display: flex;
    flex-flow: column;
    padding: 5px 0px;
    position: relative;
}

label {
    position: relative;
    padding: 0px 0px 7px; margin: 0px;
    width: 100%;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    white-space:pre-wrap;
}

.required::after,
.optional::after {
    position: absolute;
    left: calc(100% - 65px); top: 23px;
    margin-left: 10px;
    padding: 4px;
    background-color:rgba(34, 28, 28, 0.8);
    border-radius: 3px;
    color: white;
    text-transform: lowercase;
}

.required::after {
    content: 'required';
}

.optional::after {
    z-index: 1;
    content: 'optional';
}

.hide::after {
    display: none;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    border: 1px solid rgb(228, 231, 234);
    border-radius: 5px;
    padding: 5px;
}

div.phone {
    display: flex;
    flex-flow: row;
    gap: 5px;
    height: 30px; width: auto;
    padding: 0px; margin: 0px;
    border: 1px solid rgb(228, 231, 234);
    border-radius: 5px;
}

input[type='tel'] {
    height: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

input#area-code,
input#prefix {
    width: 20%;
}

input#extension {
    width: 60%;
}

input::placeholder {
    color: lightgrey;
}

input:focus {
    outline: none;
    border: 1px solid #3E8CE0;
}

input:invalid {
    outline: none;
    border: 1px solid #E933BB;
}

input.correct {
    outline: none;
    border: 1px solid #9DB337;
}

.error-box {
    padding: 3px 0px 0px; margin: 0px;
    width: 100%;
    position: absolute;
    top: 52px;
    font-size: 0.6rem;
    color: #E933BB;
}

span.view-unview {
    padding: 0px; margin: 0px;
}

img {
    padding: 0px; margin: 0px;
    width: 17px; height: auto;
}

.visible.pw1 {
    position: absolute;
    top: 2px; left: 180px;
}

.invisible.pw1 {
    position: absolute;
    top: 2px; left: 180px;
}

.visible.pw2 {
    position: absolute;
    top: 2px; left: 180px;
}

.invisible.pw2 {
    position: absolute;
    top: 2px; left: 126px;
}

/* -------------- */
/* ACTION STYLING */
/* -------------- */

.account-action .content {
    padding: 30px 20px; margin: 0px;
    display: flex;
    flex-flow: column;
    gap: 30px;
}

button {
    padding: 10px; margin: 0px;
    background-color: rgba(34, 28, 28, 0.8);
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.account-action a {
    color: #9DB337;
    text-decoration: none;
    font-weight: bold;
}

/* -------------- */
/* DEVICE STYLING */
/* -------------- */

/* MOBILE ------- */
@media only screen and (max-width: 550px) {
    aside {
        min-height: 250px; width: 100vw;
        background-image: url('./assets/header-sml-wide.png');
        background-position: center;
        background-size: auto 250px;
    }

    header {
        position: relative;
        top: 40px;
    }

    footer {
        position: relative;
        top: 18px; left: 65px;
    }

    form,
    fieldset {
        display: flex;
        flex-flow: column;
        gap: 15px;
    }
}

/* TABLETS ------ */
@media only screen and (min-width: 551px) and (max-width: 899px) {
    aside {
        min-height: 250px; width: 100vw;
        background-image: url('./assets/header-med-wide.png');
        background-position: center;
        background-size: auto 250px;
    }

    header {
        position: relative;
        top: 40px;
    }

    footer {
        position: relative;
        top: 18px; left: 65px;
    }

    form {
        display: flex;
        flex-flow: column;
        gap: 15px;
    }

    fieldset {
        display: flex;
        gap: 20px;
    }

    fieldset div {
        width: 50%;
    }

    button {
        width: 246px;
    }
}

/* PCS ---------- */
@media only screen and (min-width: 900px) {

    body {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .container {
        display: flex;
    }
    
    aside {
        flex: 0 2 40%;
        height: 718px;
        background-image: url('./assets/header-lrg-tall.png');
        background-position: center;
        background-size: cover;
    }

    header {
        position: relative;
        top: 175px;
    }

    footer {
        position: relative;
        top: 528px;
    }

    main {
        flex: 0 0 60%;
    }

    form {
        display: flex;
        flex-flow: column;
        gap: 15px;
    }

    fieldset {
        display: flex;
        gap: 20px;
    }

    fieldset div {
        width: 50%;
    }

    button {
        width: 246px;
    }
}